global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'op-node'
    static_configs:
      - targets: ['3.110.185.186:9003']
    metrics_path: '/debug/metrics/prometheus'
    scrape_interval: 15s

  - job_name: 'op-geth'
    static_configs:
      - targets: ['3.110.183.232:9001']
    metrics_path: '/debug/metrics/prometheus'
    scrape_interval: 15s

  - job_name: 'op-batcher'
    static_configs:
      - targets: ['13.233.33.156:9005']
    metrics_path: '/debug/metrics/prometheus'
    scrape_interval: 15s

  - job_name: 'op-proposer'
    static_configs:
      - targets: ['13.204.80.36:9004']
    metrics_path: '/debug/metrics/prometheus'
    scrape_interval: 15s

  - job_name: 'op-challenger'
    static_configs:
      - targets: ['15.206.212.215:9006']
    metrics_path: '/debug/metrics/prometheus'
    scrape_interval: 15s

  - job_name: 'op-supervisor'
    static_configs:
      - targets: ['op-supervisor:9001']
    metrics_path: '/debug/metrics/prometheus'
    scrape_interval: 15s

  - job_name: 'ethereum-l1'
    static_configs:
      - targets: ['3.110.185.231:32002']
    metrics_path: '/debug/metrics/prometheus'
    scrape_interval: 15s

  - job_name: 'ethereum-cl'
    static_configs:
      - targets: ['3.110.185.231:33002']
    metrics_path: '/metrics'
    scrape_interval: 15s
